<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-app="ngLocale">
    <input type="number" ng-model="num1">
    <span>+</span>
    <input type="number" ng-model="num2">

    <span>{{num1+num2}}</span>
    <br>
    <input type="number" ng-model="num1">
    <span>-</span>
    <input type="number" ng-model="num2">

    <span>{{num1-num2}}</span>
    <br>
    <input type="number" ng-model="num1">
    <span>*</span>
    <input type="number" ng-model="num2">
    <span>{{num1*num2}}</span>
    <br>
    <input type="number" ng-model="num1">
    <span>/</span>
    <input type="number" ng-model="num2">

    <span>{{num1/num2}}</span>

    <script src="angular.js"></script>

</body>

</html>